@model IEnumerable<Recipe>

<div class="card-deck">
    @foreach (var r in Model)
    {<div class="card">
            <img class="card-img-top img-fluid" src="~/img/@(r.RecipeImage).jpg" alt="@r.RecipeName">
            <div class="card-body">
                <h5 class="card-title">@r.RecipeName</h5>
                <br />Portions: @r.Portions
                <br />Prep time: 30 mins
                <br />Cook time: 40 mins
                <br />Skill: @r.Skill.SkillLevel
                <br />Rating: @r.Rating
                <p class="card-text"><small class="text-muted">Calories: @r.Nutrition.Quantity()
                    500kcal</small></p>
            </div>
        </div>
    }
</div>